.images-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.images-container #image {
  margin: 0 0 20px 0;
}

.images-container #image img{
  min-height: 300px;
  width: 500px;
  margin: 0 0 10px 0;
}

.images-container #image .tags {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 70px; */
}

/* .tags::before {
  content: "tags: ";
  position: absolute;
  left: 20px;
  top: 10px;
} */

#image .tags .tag {
  text-transform: uppercase;
  margin: 5px 15px 5px 0;
  background: rgba(216, 112, 147, 0.514);
  border: 2px solid palevioletred;
  color: rgb(87, 87, 87);
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  width: 90vw;
  height: 80vh;
  margin: 20px 0 0 0;
}

.spinner {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 40%;
  left: 35%;
} 

.openImage {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  top:0;
  left:10%;
  z-index: 11;
}

.openImage img {
  height: 80%;
  width: 80%;
  position: relative;
  left: -10%;
}